
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  
 h1{font-family: "Lobster", sans-serif;
    font-weight: 200;
    color: rgb(31, 65, 65);
     font-size: 40px;}

body{ 
    background-color: rgb(4, 59, 59);
}    

.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color:#fff;
    margin-left: 33%;
    margin-top: 5px;
}

input{
    width: 270px;
    padding: 8px;
    border: 3px solid rgb(6, 145,145);
    
    outline: none;
}
button{
    width: 60px;
    height: 40px;
    background-color: rgb(4,29,29);
    color: rgb(220, 220, 104);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 18px;
    font-family: "lobster", sans-serif;
    font-weight: 300;;
    font-size: 20px;
    
}

.text ul{
    
    background-color: rgb(5,31,31);
    color: #fff;
    font-size: 23px;
    text-align: left;
    
}

 /* .btn{
    
    
    cursor: pointer;
    font-family:"Poppins", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: right;

 } */

